{% extends 'head.html' %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-dismissible alert-{{ message.tags }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}
	<h1 class="ml-4 mb-4">Upload Image</h1>
	<form class="ml-4 mb-4" method="POST" action="" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input class="btn btn-primary" type="submit" value="Upload Image"/>
	</form>
{% endblock %}