{% extends 'head.html' %}

{% block content %}
	<div class="container mt-5 mb-5">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-dismissible alert-{{ message.tags }}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<div class="col-md-12 mb-3">
			<img src="{{ image.image.url }}" class="img-responsive" width="100%" height="100%">
		</div>
		<div class="col-md-12 mb-3">
			<table class="table">
				<h1>{{ image.title }}</h1>
					<tbody>
					<tr>
						<td>Category:</td>
						<td><strong class="d-inline-block mb-2 text-primary">{{ image.category }}</strong></td>
					</tr>
					<tr>
						<td>Uploaded by:</td>
						<td><a href="/profile/detail/{{ image.user.id }}">{{ image.user.username }}</a></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td>{{ image.description|linebreaks }}</td>
					</tr>
					<tr>
						<td>Tags:</td>
						<td>
							{% for tag in image.tag.split %}
                            	<a class="small" href="/images/?q={{ tag }}">#{{ tag }}</a>
							{% endfor %}
						</td>
					</tr>
					<tr>
						<td>Downloads Count:</td>
						<td><i class="material-icons">file_download</i>{{ image.download_count }}</td>
					</tr>
					<tr>
						<td>
							<a class="btn btn-primary" href="/images/download/{{ image.id }}">Download</a>
							{% if image.user.id is user.id %}
								<a class="btn btn-primary" href="/images/edit/{{ image.id }}">Edit</a>
								<a class="btn btn-primary" href="/images/delete/{{ image.id }}" onclick="return confirm('Are you sure to delete this image?')">Delete</a>
							{% endif %}
						</td>
						<td>
							<a class="btn btn-primary" href="/images/?q={{ image.tag }}">Similar images</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}