{% extends "head.html" %}

{% block content %}
	<div class="container">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-dismissible alert-{{ message.tags }}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<h1>{{ user_.username }} Profile</h1>
		<hr>
		<div class="row">
			<div class="col-md-3">
				{% if profile.avatar %}
        		<div class="text-center">
          			<img src="{{ profile.avatar.url }}" class="img-responsive" alt="Cinque Terre" width="200" height="200">
        		</div>
				{% endif %}
      		</div>
			<div class=" col-md-9 col-lg-9 ">
				<table class="table">
					<tbody>
						<tr>
							<td>First name:</td>
							<td>{{ user_.first_name }}</td>
                      	</tr>
						<tr>
							<td>Last name:</td>
							<td>{{ user_.last_name }}</td>
                      	</tr>
						<tr>
							<td>Biography:</td>
							<td>{{ profile.bio }}</td>
                      	</tr>
						<tr>
							<td>Location:</td>
							<td>{{ profile.location }}</td>
                      	</tr>
					</tbody>
				</table>
			</div>
			{% if user.id is user_.id %}
				<nav>
					<a class="btn btn-primary" href="/profile/edit">Edit</a>
					<a class="btn btn-primary" href="/profile/change-password">Change Password</a>
					<a class="btn btn-primary" href="/profile/invitation">Invite Your Friend</a>
				</nav>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<hr>
		<div class="row flex-row flex-nowrap">
			{% for image in imagesList %}
        		<div class="col-md-6 portfolio-item p-3" >
					<div class="row border p-0 m-0">
						<div class="col-md-4 p-3" style="-ms-word-break: break-all; word-break: break-all; -webkit-hyphens: auto;
							-moz-hyphens: auto; hyphens: auto;">
							{% if image.category != None %}
								<strong class="d-inline-block mb-2 text-primary">
									<a href="?cat={{ image.category }}">{{ image.category }}</a>
								</strong>
							{% endif %}
							<h3 class="mb-0">
								<a class="text-dark" href="/images/detail/{{ image.id }}">{{ image.title }}</a>
							</h3>
							<p class="card-text mb-auto">
								{{ image.description|linebreaks|truncatechars:50 }}
							</p>
							<div class="mb-1 text-muted small">{{ image.updated|date:"SHORT_DATETIME_FORMAT" }}</div>
							<a href="/profile/detail/{{ image.user.id }}">{{ image.user.username }}</a><br>
							{% for tag in image.tag.split %}
								<a class="small" href="?q={{ tag }}">#{{ tag }}</a>
							{% endfor %}
							<div class="mt-2"><i class="material-icons" style="font-size:15px;">file_download</i>
								{{ image.download_count }}
								&nbsp;&nbsp;<a class="like-btn" data-href="{{ image.get_api_like_url }}" data-likes="{{ image.likes.count }}" href="">
									{{ image.likes.count }}
									{% if image in likedImages %}
										Unlike
									{% else %}
										Like
									{% endif %}
								</a>
							</div>
						</div>
						<div class="col-md-8 m-0 p-0">
							<a href="/images/detail/{{ image.id }}"><img class="col-md-12 p-0 pull-right img-responsive " width="100%"  src="{{ image.image.url }}" alt="Card image cap"></a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}