{% extends "head.html" %}

{% block content %}
	<div class="container">
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-dismissible alert-{{ message.tags }}">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
		<h1>{{ user_.username }} Profile</h1>
		<hr>
		<div class="row">
			<div class="col-md-3">
				{% if profile.avatar %}
        		<div class="text-center">
          			<img src="{{ profile.avatar.url }}" class="img-responsive" alt="Cinque Terre" width="200" height="200">
        		</div>
				{% endif %}
      		</div>
			<div class=" col-md-9 col-lg-9 ">
				<table class="table">
					<tbody>
						<tr>
							<td>First name:</td>
							<td>{{ user_.first_name }}</td>
                      	</tr>
						<tr>
							<td>Last name:</td>
							<td>{{ user_.last_name }}</td>
                      	</tr>
						<tr>
							<td>Biography:</td>
							<td>{{ profile.bio }}</td>
                      	</tr>
						<tr>
							<td>Location:</td>
							<td>{{ profile.location }}</td>
                      	</tr>
					</tbody>
				</table>
			</div>
			{% if user.id is user_.id %}
				<nav>
					<a class="btn btn-primary" href="/profile/edit">Edit</a>
					<a class="btn btn-primary" href="/profile/change-password">Change Password</a>
					<a class="btn btn-primary" href="/profile/invitation">Invite Your Friend</a>
				</nav>
			{% endif %}
		</div>
	</div>
	<div class="container">
		<hr>
		<div class="row mb-2 text-lg-left ml-2 mr-2 mt-3">
			{% for image in imagesList %}
				<div class="col-md-6">
					<div class="card flex-md-row mb-4 box-shadow h-md-250">
						<div class="card-body d-flex flex-column align-items-start">
							<div style="-ms-word-break: break-all; word-break: break-all;
								word-break: break-word; -webkit-hyphens: auto;
								-moz-hyphens: auto; hyphens: auto;">
								{% if image.category != None %}
									<strong class="d-inline-block mb-2 text-primary">{{ image.category }}</strong>
								{% endif %}
								<h3 class="mb-0">
									<a class="text-dark" href="/images/detail/{{ image.id }}">{{ image.title }}</a>
								</h3>
								<p class="card-text mb-auto">
									{{ image.description|linebreaks|truncatechars:200 }}
								</p>
								<div class="mb-1 text-muted small">{{ image.updated }}</div>
								<a href="/profile/detail/{{ image.user.id }}">{{ image.user.username }}</a><br>
								{% for tag in image.tag.split %}
                            		<a class="small" href="/images/?q={{ tag }}">#{{ tag }}</a>
								{% endfor %}
							</div>
						</div>
						<img id="responsive-image" width="70%" height="100%" src="{{ image.image.url }}" alt="Card image cap">
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}